<appSettings>
  <add key="FacebookAppId" value="188882488327306" />
  <add key="FacebookAppSecret" value="d78c26ce2e437f7134ce8c1b0dc675f3"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>